* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1.5fr 4fr;
    height: 100vh;
    
}

.header {
    grid-row: 1;
    /* background-color: red; */
}

.board {
    grid-row: 2/5;
    /* background-color: blue; */
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    display: flex   ;
}

.playBoard {
    background-color: white;
    width: 300px;
    height: 300px   ;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6px;
    padding: 6px;

    border: 2px solid black;
    border-radius: 6px;
}

.box {
    border: solid black 2px;
    border-radius: 6px;

    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    border: solid black 2px;
    border-radius: 6px;
    background-color: gray;
}

.input-container {
    display: flex;
    gap: 12px;
    /* background-color: yellow; */
    padding: 12px;
}

button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
    padding-left: 24px;

    border-radius: 6px;
    border: 0px;
    background-color: white;

    font-size: medium;
    color: white;
    background-color: blue;
    border: 2px blue solid;
}
button:hover {
    color: blue;
    background-color: white;
    border: 2px blue solid;
}

input {
    border-radius: 6px;
}

#message {
    padding: 24px;
    display: flex;
    justify-content: center;
    height: 90px;
}

.title{
    padding: 24px;
}